@use "../../themes/variables" as *;
@use "../../themes/colors" as *;

.Products {
  &__filter {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    &-item {
      flex: 1;
      min-width: 200px;
      .MuiFormLabel-root {
        font-size: 14px;
      }
      .MuiInputBase-input {
        font-size: 14px;
      }
      .MuiTextField-root {
        min-width: 100%;

        .MuiInputBase-root {
          font-size: 14px;
        }
      }
    }
  }

  &__table {
    padding-top: 30px;
  }
}

.MuiMenuItem-root {
  font-size: $font-size-default !important;
}
